JIRA_BASE_URL=...this.file.is.example.only...
JIRA_EMAIL=...please.create..env.file..
JIRA_ACCOUNT_ID=...fill.in.env.var...
JIRA_API_KEY=...please.read.readme.md.for.api.creation...

REPORT_OUTPUT_PATH=data/processed/weekly_report.md