JIRA_BASE_URL=...this.file.is.example.only...
JIRA_EMAIL=...please.create..env.file..
JIRA_ACCOUNT_ID=...fill.in.env.var...
JIRA_API_KEY=...please.read.readme.md.for.api.creation...

HF_API_TOKEN=...
HF_MODEL=...
HF_MAX_NEW_TOKENS=...
HF_TEMPERATURE=...
